.ListBox {
  position: relative;
}

.trigger {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin-top: 0;
}

.options {
  background: var(--listbox-bg);
  position: absolute;
  z-index: 10000;
  border-radius: 12px;
  box-shadow: 4px 4px 8px var(--listbox-bg);
}

.item {
  padding: 10px 20px;
}

.disabled {
  opacity: 0.7;
}

.optionBottomLeft {
  top: 100%;
  right: 0;
}

.optionBottomRight {
  top: 100%;
  left: 0;
}

.optionTopRight {
  bottom: 100%;
  left: 0;
}

.optionTopLeft {
  bottom: 100%;
  right: 0;
}
